<!DOCTYPE html>
<html lang="pt-br" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Cadastro de Correntista</h1>

    <div th:text="${mensagem}" style="color: red"></div>

    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Admin</th>
                <th>Senha</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="correntistas : ${correntistas}">
                <td>[[${correntista.id}]]</td>
                <td th:text="${correntista.nome}"></td>
                <td th:text="${correntista.email}"></td>
                <td th:text="${correntista.admin}"></td>
                <td th:text="${#strings.substring(correntista.senha,0,3)} + '...'"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>